<li class="menu-item">
    <a href="{% url 'products:index' %}"
       class="{% if request.resolver_match.namespace == 'products' %}
        menu-link menu-link-active
        {% else %}
        menu-link
        {% endif %}">
        Продукты
    </a>
</li>
{% if user.is_authenticated %}
<li class="menu-item">
    <a href="{% url 'auth:edit' %}" class="menu-link">
        {{ user.first_name|default:'Пользователь' }}
    </a>
</li>
{% endif %}
<li class="menu-item">
    {% if user.is_authenticated %}
    <a href="{% url 'auth:logout' %}" class="menu-link">Выйти</a>
    {% else %}
    <a href="{% url 'auth:login' %}" class="menu-link">Войти</a>
    <a href="{% url 'auth:register' %}" class="menu-link">Регистрация</a>
    {% endif %}
</li>
<li class="menu-item">
    <a href="{% url 'basket:view' %}" class="menu-link basket-link">
    {% if basket %} Корзина:{{ basket.0.total_quantity }}&nbsp;шт. {% endif %}
    </a>
</li>