{% extends 'mainapp/base.html' %}

{% block menu-ul %}
<ul class="menu">
    <li class="menu-item"><a href="{% url 'main' %}" class="menu-link">Главная</a></li>
    <li class="menu-item"><a href="{% url 'products' %}" class="menu-link">Каталог</a></li>
    <li class="menu-item"><a href="{% url 'contacts' %}" class="menu-link menu-link-active">Контакты</a></li>
    {% include 'mainapp/inc_menu.html' %}
</ul>
{% endblock %}

{% block content %}
<h1>Контакты</h1>
<form class="contacts" action="#">
    <input type="text" placeholder="Ваше имя"><br><br>
    <input type="email" placeholder="Ваш e-mail" class="mail"><br><br>
    <input type="text" placeholder="Тема обращения"><br><br>
    <textarea placeholder="Введите текст обращения..." rows="5" cols="45"></textarea><br><br>
    <input type="submit" value="Отправить">
    <input type="reset" value="Очистить">
</form>
<div class="address">
    <h3>Наш адрес:</h3>
    <p>г. Хабаровск, ул. Ленина, д 65<br>
        email: mail@mail.ru<br><br>
        Задайте нам любой интересующий Вас вопрос по телефону контактного центра<br>
        <b>8 800 252 25 25</b> (звонок бесплатный для всех регионов РФ)<br>
    </p>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1feda1ca12e9ab7d382bc5e32b564d6a9e3be7c7dc209d099f1d36669a34e4b9&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>

    </div>
</div>
{% endblock %}