{% extends 'mainapp/base.html' %}

{% block menu-ul %}
<ul class="menu">
    <li class="menu-item"><a href="{% url 'main' %}" class="menu-link  menu-link-active">Главная</a></li>
    <li class="menu-item"><a href="{% url 'products' %}" class="menu-link">Каталог</a></li>
    <li class="menu-item"><a href="{% url 'contacts' %}" class="menu-link">Контакты</a></li>
    {% include 'mainapp/inc_menu.html' %}
</ul>
{% endblock %}

{% block content %}
<h1>Инернет магазин SMARTY</h1>
<p>Здравствуйте! Вы находитесь на сайте инновационного интернет магазина «XXX». Наш магазин работает по
    ехнологии B2H - (bussines to home) бизнес для дома.<br>
    У нас нет выставочных павильонов и точек самовывоза. Вам не придется заказывать в интернете, а потом куда-то
    идти и забирать Вашу покупку как в обычном магазине, мы привезем Вам все что вы заказали в удобное для вас
    время!
</p>
{% endblock %}