{% extends 'mainapp/base.html' %}
{% load static %}

{% block menu-ul %}
<ul class="menu">
    <li class="menu-item"><a href="{% url 'main' %}" class="menu-link">Главная</a></li>
    <li class="menu-item"><a href="{% url 'products' %}" class="menu-link  menu-link-active">Каталог</a></li>
    <li class="menu-item"><a href="{% url 'contacts' %}" class="menu-link">Контакты</a></li>
</ul>
{% endblock %}

{% block content %}
<h1>Каталог</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quidem dicta sed molestiae distinctio. Placeat
    excepturi deleniti quidem quos perferendis voluptates ratione repellendus, quaerat cumque quod blanditiis ad
    fugiat ipsum obcaecati qui voluptatem iure, tenetur error distinctio similique neque. Harum repellat animi
    perspiciatis dicta rem laudantium voluptas quo, a at?
</p>

{% for item in products%}
<div class="product-item">
    <a href="" target="_blank" class="product-item-link">
        <img src="{{item.image}}" alt="">
        <p class="product-caption">{{item.product}}</p>
    </a>
</div>
{% endfor %}
{% endblock %}
